<header class="py-3 border-bottom bg-custom">

	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="{{path('app_home')}}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
				<img src="{{asset('uploads/Logo.png')}}" alt="" width="40" height="32" class="me-2">
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{path('app_offre_emploi')}}" class="nav-link px-2 text-white">Offres</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Entreprise</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">About</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Contact</a>
				</li>
			</ul>


			{% if app.user %}
				<div class="dropdown text-end">
					<a
						href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{# <img src="https://api.dicebear.com/7.x/initials/svg?seed=User" alt="mdo" width="50" height="50" class="rounded-circle border border-white"> #}
						<img src="{{ 'https://api.dicebear.com/7.x/initials/svg?seed=' ~ app.user.username ~ '&fontSize=20&bold=true&radius=50' }}" alt="mdo" width="50" height="50" class="rounded-circle border border-white">


					</a>
					<ul class="dropdown-menu text-small">
						<li>
							<a class="dropdown-item" href="{{path('app_account')}}">Profile</a>

						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{path('app_admin')}}" class="dropdown-item" href="">Dashboard</a>
							</li>
						{% endif %}

						{% if is_granted('ROLE_PRO') %}
							<li>
								<a class="dropdown-item" href="">Mes Offres</a>
							</li>
						{% endif %}
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{path('app_logout')}}">Sign out</a>
						</li>
					</ul>
				</div>
			{% else %}
				<div class="text-end">
					<a href="{{path('app_login')}}" class="btn btn-outline-light me-2">Login</a>

					<a href="{{path('app_register')}}" class="btn btn-warning">Sign-up</a>
				</div>

			{% endif %}
		</div>
	</div>
</header>
