{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Mon compte
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 bg-dark text-white">
				{% include 'partials/_sidebar.html.twig' %}
			</div>
			<div class="col-10 bg-custom-account">
				{% block content %}
					<div class="row">
						<div class="col-12">
							<h1 class="text-center">
								Detail de l'offre
								{{ offer.title }}
							</h1>
						</div>

						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-3">{{ offer.title }}</h5>
									<h6 class="card-subtitle mb-3 text-muted">
										Ajouté le
										{{ offer.createdAt|date('d/m/Y') }}
									</h6>
									<h6 class="card-subtitle text-muted">Description courte :
									</h6>
									<p class="card-text">{{ offer.shortDescription }}</p>
									<h6 class="card-subtitle text-muted">Details de l'offre :
									</h6>

									<p class="card-text">{{ offer.content }}</p>
									<h6 class="card-subtitle text-muted">Salaire :</h6>
									<p class="card-text">{{ offer.salary }}
										€</p>
									<h6 class="card-subtitle text-muted">Localisation :</h6>
									<p class="card-text">{{ offer.location }}</p>
									<h6 class="card-subtitle text-muted">Entreprise :</h6>
									<p class="card-text">{{ offer.entreprise }}</p>
									<h6 class="card-subtitle text-muted">Type de contrat :</h6>
									<p class="card-text">{{ offer.contractType }}</p>
									<h6 class="card-subtitle text-muted">Mot clés :</h6>
									{% for tag in offer.tags %}
										<span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
									{% endfor %}
									<div class="my-3">
										<a href="{{path('app_offer')}}" class="btn btn-primary">
											<i class="bi bi-arrow-left"></i>
											Retour</a>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Candidatures reçues pour l'offre
								{{ offer.title }}
							</h4>
						</div>
						<div class="col-12">
							{% if offer.applications|length > 0 %}
								<table class="table table-striped table-hover text-center">
									<thead>
										<tr>
											<th scope="col">Nom</th>
											<th scope="col">Prénom</th>
											<th scope="col">Email</th>
											<th scope="col">Statut</th>
											<th scope="col">Message</th>
											<th scope="col">Date</th>
											<th scope="col">Gérer</th>
										</tr>
									</thead>
									<tbody>
										{% for application in applications %}
											<tr>
												<td>{{ application.user.userProfil.firstName }}</td>
												<td>{{ application.user.userProfil.lastName }}</td>
												<td>{{ application.user.email }}</td>
												<td>
													{% if application.status == 'STATUS_PENDING' %}
														<span class="badge rounded-pill bg-warning text-dark">En attente</span>
													{% elseif application.status == 'STATUS_ACCEPTED' %}
														<span class="badge rounded-pill bg-success">Accepté</span>
													{% elseif application.status == 'STATUS_REFUSED' %}
														<span class="badge rounded-pill bg-danger">Refusé</span>
													{% endif %}
												</td>
												<td>
													{% if application.message|length > 50 %}
														{{ application.message|slice(0,50) }}...
													{% else %}
														{{ application.message }}
													{% endif %}
												</td>

												<td>{{ application.createdAt|date('d/m/Y') }}</td>

												{# Affichage du formulaire dans un bouton select pour gérer les candidatures #}
												<td>
													<a href="{{path('app_offer_application_status',{'id':application.offer.id,'applicationId': application.id})}}" class="btn btn-info">
														<i class="bi bi-pen-fill"></i>
													</a>
												</td>

											{% endfor %}
										</tbody>
									</tbody>
								</table>
							{% else %}
								<div class="alert alert-info">
									Aucune candidature reçue pour cette offre.
								</div>
							{% endif %}
						</div>
					{% endblock %}
				</div>

			</div>
		{% endblock %}
