{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Mon compte
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 bg-dark text-white">
				{% include 'partials/_sidebar.html.twig' %}
			</div>
			<div class="col-10 bg-custom-account">
				{% block content %}
					<div class="row justify-content-center align-items-center mt-5">
						<div class="col-md-6 shadow-lg border border-white p-3 rounded mt-5">

							<div class="row">
								<div class="col-12">
									<h1 class="text-center mt-5">
										Modification de mot de passe
									</h1>
								</div>
								<div class="col-12 p-5">
									{{ form_start(form) }}
									{{ form_row(form.oldPassword) }}
									{{ form_row(form.newPassword) }}
									{{ form_row(form.confirmPassword) }}
									<button type="submit" class="btn btn-primary">Modifier</button>
									{{ form_end(form) }}
								</div>


							</div>
						</div>
					</div>
				{% endblock %}
			</div>

		</div>
	{% endblock %}
